{
  "semi": true,
  "singleQuote": true,
  "printWidth": 160,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "always",
  "tabWidth": 2,
  "useTabs": false
}
